body{
    /*background: linear-gradient(90deg, rgba(82, 45, 137,0.85), rgba(67, 155, 162,90%), rgba(40, 103, 120,80%) );*/
    background: linear-gradient(to right,rgb(22, 150, 160),rgb(0, 173, 160),rgb(100, 182, 185));
    color: #fff;
    font-family:'lato', Arial, Helvetica, sans-serif;
    font: 20px lato;
}



.nav_list_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    margin-top: 0px;
    font-size: 3.5vw;
    padding: 10px;
    border: 5px solid rgb(28, 42, 49);
    border-top: none;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    /*background: linear-gradient(90deg, rgb(96, 54, 159), rgb(67, 155, 162), rgb(40, 103, 120) );*/
    background: linear-gradient(to right,rgb(22, 150, 160),rgb(0, 173, 160),rgb(100, 182, 185));
    position: fixed;
    top: 0;
    z-index: 5;
    width: 97%;
}

.nav_list{
    display: inline-block;
    margin: 15px;
}

.nav_link{
    text-decoration: none;
    color: beige;
    cursor: pointer;
    padding: 7px;
    border-radius: 30px;
}


@media only screen and (min-width:760px ) {
    .nav_link:hover{
        background-color: rgba(102, 228, 180, 0.852);
        color: rgb(30, 28, 14);
        border-color: rgba(102, 228, 180,1);
        transition: ease 0.3s all;
    }
}




#main_header{
    margin-top: 160px;
    padding: 10px;
    font: 10vw lato;
    /*background-image: linear-gradient(to left,rgba(100, 180, 199, 0.5),rgb(50, 92, 102));*/
    background-image: linear-gradient(45deg,rgb(69, 50, 190),rgb(95, 90, 236));
    color: transparent;
    background-clip: text;
    text-align: center;
    -webkit-background-clip: text;
}
#second_header{
    font: 40pt lato;
    text-align: left;
    color: #fff;
}


.labels{
    font-size: 35px;
    text-align: center;
}

#enterform{
margin: 0 auto;
text-align: center;
}

#suggestCont{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    
}

#suggestions{
    display: none;
    position: relative;
    z-index: 3;
    list-style-type: none;
    background-color: #dbece8;
    padding-left: 0;
    margin: 0 auto;
    width: 25vw;
    height: 12vh;
    overflow-y: scroll;

}

#suggestions li{
    position:relative;
    cursor: pointer;
    color: #000;
    font-size:16px;
}





@media only screen and (min-width:760px ) {
    #suggestions li:hover{
        background-color: rgba(102, 228, 180, 0.852);
    }
    #suggestions li.selected{
        background-color: rgba(102, 228, 180, 0.852);
    }
}



input[type="text"], textarea {
    background-color : #dbece8;
    width: 25vw;
    font-size: 20px;
}

#enter_city_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
}

#error{
    font-size: 25px;
    font:300 lato;
    color: red;
}

#generate{
    font: 30pt bold lato;
    font-weight: 500;
    border: 1px solid burlywood;
    background-color: antiquewhite;
    border-radius: 30px;
    cursor: pointer;
}

@media only screen and (min-width:760px ) {
    #generate:hover,#generate:active{
        background-color: rgba(102, 228, 180, 0.852);
        border-color: black;
        color: rgb(26, 14, 30);
        transition: ease 0.3s all;
    }
}


#enter_city_container,#Background,#paragraph_end{
    transition: background-color 1s;
}

.highlight{
    background-color:rgba(19, 88, 148, 0.877);
}

#paragraph_end{
    display: grid;
    grid-template-columns: 1fr 0.25fr;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:5px;
    border-top: 5px solid rgba(90, 5, 59, 0.8);
}


#holder {
    position: relative;
    margin: 2% auto;
    border-radius: 20px;
    padding: 0px 2.5% 0px 2.5%;
    width: 30%;
    background: linear-gradient(45deg,rgb(50, 155, 190),rgb(90, 204, 236));
    color: black;
    border : 3px solid black;
    text-align: left;
}

#resTitle{
    font-size: 5vw;
    font:300 Roboto,'sans-serif';
    color: black;
}


#topres{
    margin: auto; 
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 2% 10%;
    grid-template-areas:
      "weatherIcon cityCountry"
      "weather date";
}
  
#weatherIcon { 
    grid-area: weatherIcon;
    justify-self: start;
 }

  #cityCountry { 
    grid-area: cityCountry; 
    font-size: 2.8vw;
    width: 20vw;
    text-align: right;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 2px;
}
  
  #weather { 
    grid-area: weather; 
    justify-self: center;
}
  
  #date { 
    grid-area: date; 
    text-align: right;
}

#line{
     display: block; 
     width: 117.1%;
     margin-left: -8.8%;
     margin-right: auto;
     margin-bottom: 2px;
     overflow: hidden; 
     border-top:5px solid black
}

/*
#date::after{
    content: '';
    position: absolute;
    bottom: 20%;
    border-top: 10px solid #000;
    width: 100px;
}*/


#note{
    font-size: 0.9vw;
}

.resFlex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    /*background-color:rgba(102, 228, 180, 0.6);*/
    margin-top: 2%;
    margin-bottom: 2%;
}
#temp,#tempCel,#tempSeperator{
    font-size: 4vw;
}

#humidity,#windSpeed,#pressure{
    display: inline;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.2vw;
}

#content{
    font: 300 lato;
    text-align: center;
    font-size: 2vw;
    color: #000;
}

  
/*
#weatherIcon{
    position: sticky;
    top: -30%;
    left: -30%;
    text-align: center;
}

#weather{
    position: relative;
    font-size: 1.5vw;
    top: -30%;
    left: 10%;
    color: darkcyan;
    text-align: center;
}

#cityCountry{
    position: sticky;
    top:5%;
    left: 40%;
    font-size: 3.1vw;
    color: slateblue;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: aquamarine;
    padding: 2px;
}

#cityCountry::after{
    content: '';
    position: absolute;
    left: 100%;
    bottom: 20%;
    border-top: 10px solid #000;
    width: 100px;
}

#temp{

}
*/